<div class="row col-md-12 p-0 m-0">
  <div style="width: 100%;">
    <app-sample-page></app-sample-page>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <app-card cardTitle="Pie Chart donut" [options]="false">
      <app-apex-chart chartID="pie-chart-2-cac" [chartConfig]="this.chartDB.pie2CAC"></app-apex-chart>
    </app-card>
  </div>

  <div class="col-md-6">
    <app-card cardTitle="Bar chart" [options]="false">
      <app-apex-chart chartID="bar-chart-1-cac" [chartConfig]="this.chartDB.bar1CAC"></app-apex-chart>
    </app-card>
  </div>
</div>